@use 'variables' as *

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption, table caption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 500px !important
  padding-bottom: 0 !important
  padding-top: auto !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
  background-color: $color-primario !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

.barra-avance__boton--regresar span
  color: $white !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/

.bg-primario-p10
  background-color: $color-primario-p10
.bg-terciario-t5
  background-color: $color-terciario-t5
.bg-secundario-s5
  background-color: $color-secundario-s5
.bg-contenido-a5
  background-color: $color-acento-contenido-a5
  
.bg-img
  background-image: url("../assets/curso/common/bg-secundario.png")
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  &--terciario
    background-image: url("../assets/curso/common/bg-terciario-img.png")
  &--sqrt
    background-image: url("../assets/curso/common/bg-terciario-sqr.png")
  &--sqrc
    background-image: url("../assets/curso/common/bg-contenido-sqr.png")

.bg-audio
  background: url('../assets/curso/common/bg-audio.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.bg-slider
  background: url('../assets/curso/common/bg-slider.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.bg-carousel
  background: url('../assets/curso/common/bg-carousel.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.bg-cards
  background: url('../assets/curso/common/bg-cards.png')
  background-size: cover
  background-position: center top
  background-repeat: no-repeat

.fullwidth-bg
  display: none
  @media screen and (min-width: 768px)
    display: block
  position: relative
  z-index: 0

  &--1::after
    top: 0px
    left: -50px
    position: absolute
    content: url('../assets/curso/common/bg-1.png')

.imgw-64
  width: 64px
  margin: 0 auto

.imgw-84
  width: 84px
  margin: 0 auto

.imgw-100
  width: 100px
  margin: 0 auto

.imgw-105
  width: 105px
  margin: 0 auto

.imgw-281
  width: 281px
  margin: 0 auto

.banner-text
  background: $white
  border-radius: 10px
  padding: 20px
  margin-top: -30px
  @media screen and (min-width: $bp-min-md)
    padding: 20px 30px
    margin-top: -80px

.z-2
  z-index: 2
  position: relative

.tarjeta-audio
  background-color: $white
  &__texto
    color: $color-sistema-texto !important

  .tarjeta-audio__input input[type=range]
    background-color: $color-acento-contenido !important

  .audio__btn
    background-color: $color-acento-botones !important

  &__tiempo
    color: $color-sistema-texto !important

.acordion
  &__accion__btn--b
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    .fas.fa-angle-down, .fas.fa-angle-up
      color: $white !important
  .acordion__activo
    background-color: $color-primario-p5

.tabs-a__tab
  background-color: $color-secundario-s10

.tabs-a__content-item
  .tabs-a__content-item--active
    background-color: $color-acento-contenido-a5

.tabs-a.custom-tabs
  .col-lg-4.col-xl-3
    @media screen and (min-width: $bp-min-lg)
      width: 50%
    // @media screen and (min-width: $bp-min-xl)
    //   width: 55%
  .col-lg-8.col-xl-9
    @media screen and (min-width: $bp-min-lg)
      width: 50%
    // @media screen and (min-width: $bp-min-xl)
    //   width: 45%

.slyder-f
  align-items: center
  border-radius: 20px

  .slyder-f__main
    width: 70%

    @media (min-width: 769px)
      width: 80%

.slyder-f__btn
  height: 46px
  width: 46px
  max-width: 46px
  background-color: $color-acento-botones
  border-radius: 50%
  padding: 0 !important
  margin: 0 auto
  .fa-chevron-left
    font-size: 18px
    color: $white
  .fa-chevron-right
    font-size: 18px
    color: $white

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: $color-secundario
      h4
        color: $color-sistema-texto

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.28rem ))
    background-color: $color-secundario
    font-size: 1em

  &.custom-2
    .crd_hover_txt--body
      font-size: 0.95em


.slyder-a
  background-color: $white
  padding: 20px
  border-radius: 20px
  .slyder-a__btn--atrs, .slyder-a__btn--sigt
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    background-image: url('../assets/curso/common/white-arrow.svg')
  .slyder-a__bullets__item
    background-color: $color-terciario
    border-color: $color-terciario

.titulo-con-imagen
  display: flex
  align-items: center
  position: relative
.titulo-con-imagen__fondo
  background: #E7D7FF
  background: linear-gradient(90deg, rgba(231, 215, 255, 0.98) 0%, rgba(249, 245, 255, 1) 100%)
  border-radius: 20px
  padding: 8px 20px
  display: inline-flex
  align-items: center
.titulo-con-imagen__imagen
  position: absolute
  left: -20px
  width: 70px
  @media screen and (mim-width: $bp-max-sm)
    top: -10px

.titulo-con-imagen__texto
  margin: 0
  padding-left: 50px

.accesibilidad
  z-index: 3